<!DOCTYPE html>
<html>
  <head>
    <title>範例1</title>
    <style>

    </style>
  </head>
  <body>

    <div>
<canvas id="myChart" width="800" height="500" style="display: block; box-sizing: border-box; width: 800px; height: 500px;"></canvas>
    </div>

    <script src="{{url_for('static',filename='vendor/chart.js/chart.umd.js')}}"></script>
    <script>
      /* 中斷點用程式碼寫 */
      debugger;
      /* 中斷點用程式碼寫 */

      /* 課程測試 */
      const ctx = document.getElementById("myChart");
      /* 中斷點用程式碼寫 */
      debugger;
      /* 中斷點用程式碼寫 */
      new Chart(ctx, {
        type: "bar",
        data: {
          labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
          datasets: [
            {
              label: "# of Votes",
              data: [12, 19, 3, 5, 2, 3],
              borderWidth: 1,
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });
      /* 課程測試 */
    </script>
  </body>
</html>
